[View in Colaboratory](https://colab.research.google.com/github/haantran96/K-Nearest-Neighbors/blob/master/Bus_stop.ipynb)

## Approach:
1. Convert addresses and bus stops into latitude and longtitudes using Google Geocoding API
2. Identify clusters and the number of clusters using DBSCAN clustering

  Reasons for using DBSCAN instead of KMeans:
  
  -"KMeans minimizes variance, not geodetic distance"
  
  -"DBSCAN clusters a spatial data set based on two parameters: a physical distance from each point, and a minimum cluster size. This method works much better for spatial latitude-longitude data"
  
  
  3. To calculate distance, I use geopy,distance library, great_circle method (for faster speed)
  
  
  4. Using Multipoint.centroid library to find the centroid, and then identify a point that has the smallest distance to the centroid (centermost point), apply this for all the clusters
  
  5. Calculate the distance of all the bus stops to the centermost point and choose 10 stops based on some criteria (mentioned later)
  
  6. Repeat steps 3-5 for varying epsilon (distance between the points in a cluster) - I choose epsilon ranging from 0.1 to 1km

## Criteria for the bus stops:
1. Walking distance should be less than 3km
2. Benefit as many groups of employees as possible (not as many employees as possible because the clusters' size differ significantly)
3. Acceptable average walking distance for employees

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
import operator

%matplotlib inline

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Employee_Addresses.csv to Employee_Addresses.csv
Saving Potentail_Bust_Stops.csv to Potentail_Bust_Stops.csv

In [0]:
addresses = pd.read_csv(io.StringIO(uploaded['Employee_Addresses.csv'].decode('utf-8')))
stops = pd.read_csv(io.StringIO(uploaded['Potentail_Bust_Stops.csv'].decode('utf-8')))

In [0]:
df_addresses = pd.DataFrame(addresses)
df_stops = pd.DataFrame(stops)

In [5]:
!pip3 install googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/5a/3d/13b4230f3c1b8a586cdc8d8179f3c6af771c11247f8de9c166d1ab37f51d/googlemaps-3.0.2.tar.gz
Requirement already satisfied: requests<3.0,>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.18.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.11.1->googlemaps) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.11.1->googlemaps) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.11.1->googlemaps) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.11.1->googlemaps) (2018.8.24)
Building wheels for collected packages: googlemaps
  Running setup.py bdist_wheel for googlemaps ... - done
  Stored in directory: /root/.cache/pip/wheels/3c/3f/25/ce6d7722dba07e5d4a12d27ab38f3d7add65ef43171b02c819
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-3.0.2

In [0]:
import googlemaps

In [0]:
gmaps_key = googlemaps.Client(key="AIzaSyCMk96E-BObcmLAZqtITJtqkbtTtWijuEc")

In [0]:
def find_lat_lon(df):
    geocode_result = gmaps_key.geocode(df)
    try:
        lat = geocode_result[0]['geometry']['location']['lat']
        lon = geocode_result[0]['geometry']['location']['lng']
    except:
        lat = None
        lon = None
    return lat,lon

In [0]:
df_addresses['lat_lon'] = pd.DataFrame(df_addresses['address'].apply(find_lat_lon))

In [10]:
df_addresses.head()

,address,employee_id,lat_lon
0,"98 Edinburgh St, San Francisco, CA 94112, USA",206,"(37.72747469999999, -122.4273257)"
1,"237 Accacia St, Daly City, CA 94014, USA",2081,"(37.7042048, -122.4158777)"
2,"1835 Folsom St, San Francisco, CA 94103, USA",178,"(37.7679315, -122.4151808)"
3,"170 Cambridge St, San Francisco, CA 94134, USA",50,"(37.729642, -122.4196607)"
4,"16 Roanoke St, San Francisco, CA 94131, USA",1863,"(37.73624, -122.431322)"

In [0]:
def intersections(streetA, streetB):
    geocode_result = gmaps_key.geocode(streetA+' & '+streetB)
    try:
        lat = geocode_result[0]['geometry']['location']['lat']
        lon = geocode_result[0]['geometry']['location']['lng']
    except:
        lat = None
        lon = None
    return lat,lon

In [12]:
df_stops['lat_lon']= df_stops.apply(lambda x: intersections(x['Street_One'], x['Street_Two']), axis=1)
print(df_stops)

     Street_One         Street_Two                            lat_lon
0    MISSION ST          ITALY AVE         (37.7184779, -122.4395356)
1    MISSION ST  NEW MONTGOMERY ST         (37.7874561, -122.4005234)
2    MISSION ST            01ST ST         (47.9769375, -108.6732111)
3    MISSION ST            20TH ST         (37.7586404, -122.4190771)
4    MISSION ST         FREMONT ST         (37.7904547, -122.3967264)
5    MISSION ST            13TH ST         (37.7699536, -122.4199623)
6    MISSION ST            ERIE ST         (37.7690631, -122.4200723)
7    MISSION ST           BEALE ST         (37.7911592, -122.3958262)
8    MISSION ST           FAIR AVE         (37.7456035, -122.4198975)
9    MISSION ST    SAINT MARYS AVE  (37.73395319999999, -122.4261421)
10   MISSION ST         SENECA AVE         (37.7176754, -122.4401492)
11   MISSION ST         ANTHONY ST  (37.78878720000001, -122.3994802)
12   MISSION ST     JESSIE EAST ST         (37.7392503, -122.4239421)
13   MISSION ST         SILVER AVE         (37.7287485, -122.4313198)
14   MISSION ST   MOUNT VERNON AVE         (37.7146065, -122.4426697)
15   MISSION ST            30TH ST         (37.7423869, -122.4219821)
16   MISSION ST            MAIN ST         (37.7920346, -122.3948809)
17   MISSION ST        TRUMBULL ST         (37.7308496, -122.4291427)
18   MISSION ST            15TH ST         (37.7666804, -122.4198536)
19   MISSION ST        KINGSTON ST         (37.7417506, -122.4223917)
20   MISSION ST         TINGLEY ST          (37.7282519, -122.431806)
21   MISSION ST         THERESA ST         (37.7277166, -122.4324038)
22   MISSION ST            PARK ST         (37.7392503, -122.4239421)
23   MISSION ST          OLIVER ST         (37.7095562, -122.4505193)
24   MISSION ST         STEUART ST         (37.7932317, -122.3932047)
25   MISSION ST          HURON AVE         (37.7083052, -122.4541936)
26   MISSION ST        SYCAMORE ST         (37.7627139, -122.4194705)
27   MISSION ST            02ND ST         (37.7392503, -122.4239421)
28   MISSION ST            MINT ST         (37.7822117, -122.4071655)
29   MISSION ST         GENEVA AVE         (37.7164074, -122.4410866)
..          ...                ...                                ...
89   MISSION ST            07TH ST          (37.776764, -122.4143623)
90   MISSION ST          NORTON ST         (37.7245926, -122.4349007)
91   MISSION ST            RUTH ST         (37.7230498, -122.4360681)
92   MISSION ST         BRAZIL AVE         (37.7246879, -122.4348243)
93   MISSION ST      GUTTENBERG ST         (37.7127826, -122.4446016)
94   MISSION ST            23RD ST         (37.7538455, -122.4186194)
95   MISSION ST         RANDALL ST         (37.7398547, -122.4236196)
96   MISSION ST         PERSIA AVE         (37.7231529, -122.4360018)
97   MISSION ST            16TH ST          (37.7650566, -122.419698)
98   MISSION ST     YERBA BUENA LN         (37.7851382, -122.4035058)
99   MISSION ST           LAURA ST          (37.709688, -122.4501243)
100  MISSION ST            18TH ST         (37.7618426, -122.4193887)
101  MISSION ST             LEO ST         (37.7224637, -122.4365095)
102  MISSION ST         POWERS AVE         (37.7461855, -122.4195241)
103  MISSION ST     SANTA ROSA AVE         (37.7257734, -122.4340038)
104  MISSION ST     FLORENTINE AVE         (37.7133857, -122.4439655)
105  MISSION ST          FOOTE AVE           (37.7126339, -122.44477)
106  MISSION ST        BOSWORTH ST          (37.7336846, -122.426396)
107  MISSION ST      EXCELSIOR AVE         (37.7262585, -122.4336436)
108  MISSION ST        WASHBURN ST            (37.7759, -122.4151529)
109  MISSION ST           MORSE ST         (37.7104244, -122.4483197)
110  MISSION ST        ANGELOS ALY         (37.7392503, -122.4239421)
111  MISSION ST           BROOK ST         (37.7406489, -122.4231052)
112  MISSION ST            09TH ST         (37.7762211, -122.4147406)
113  MISSION ST         OTTAWA AVE         (37.7152736, -122.4458321)
114  MISSION ST        NIAGARA AVE         (37.7155866, -122.4417275)
115  MISSION ST           ACTON ST         (37.7087851, -122.4527694)
116  MISSION ST            05TH ST         (37.7424463, -122.4221957)
117  MISSION ST            24TH ST         (37.7522458, -122.4184622)
118  MISSION ST           GRACE ST         (37.7756099, -122.4155178)

[119 rows x 3 columns]

In [13]:
!pip3 install folium

Collecting folium
  Downloading https://files.pythonhosted.org/packages/88/89/8186c3441eb2a224d2896d9a8db6ded20ddd225f109e6144494a9893a0c1/folium-0.6.0-py3-none-any.whl (79kB)
    100% |████████████████████████████████| 81kB 3.1MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from folium) (2.18.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from folium) (1.11.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from folium) (2.10)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from folium) (1.14.6)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/b5/18/13c018655f722896f25791f1db687db5671bd79285e05b3dd8c309b36414/branca-0.3.0-py3-none-any.whl
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (1.22)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2018.8.24)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->folium) (1.0)
Installing collected packages: branca, folium
Successfully installed branca-0.3.0 folium-0.6.0

In [0]:
import folium
from folium import plugins
from folium.plugins import MarkerCluster

In [0]:
df_stops['lat_lon'] = df_stops['lat_lon'].apply(lambda x:list(x))
df_addresses['lat_lon'] = df_addresses['lat_lon'].apply(lambda x:list(x))

In [16]:
df_stops['address'] = df_stops['Street_One']+', ' +df_stops['Street_Two']
df_stops

,Street_One,Street_Two,lat_lon,address
0,MISSION ST,ITALY AVE,"[37.7184779, -122.4395356]","MISSION ST, ITALY AVE"
1,MISSION ST,NEW MONTGOMERY ST,"[37.7874561, -122.4005234]","MISSION ST, NEW MONTGOMERY ST"
2,MISSION ST,01ST ST,"[47.9769375, -108.6732111]","MISSION ST, 01ST ST"
3,MISSION ST,20TH ST,"[37.7586404, -122.4190771]","MISSION ST, 20TH ST"
4,MISSION ST,FREMONT ST,"[37.7904547, -122.3967264]","MISSION ST, FREMONT ST"
5,MISSION ST,13TH ST,"[37.7699536, -122.4199623]","MISSION ST, 13TH ST"
6,MISSION ST,ERIE ST,"[37.7690631, -122.4200723]","MISSION ST, ERIE ST"
7,MISSION ST,BEALE ST,"[37.7911592, -122.3958262]","MISSION ST, BEALE ST"
8,MISSION ST,FAIR AVE,"[37.7456035, -122.4198975]","MISSION ST, FAIR AVE"
9,MISSION ST,SAINT MARYS AVE,"[37.73395319999999, -122.4261421]","MISSION ST, SAINT MARYS AVE"
10,MISSION ST,SENECA AVE,"[37.7176754, -122.4401492]","MISSION ST, SENECA AVE"
11,MISSION ST,ANTHONY ST,"[37.78878720000001, -122.3994802]","MISSION ST, ANTHONY ST"
12,MISSION ST,JESSIE EAST ST,"[37.7392503, -122.4239421]","MISSION ST, JESSIE EAST ST"
13,MISSION ST,SILVER AVE,"[37.7287485, -122.4313198]","MISSION ST, SILVER AVE"
14,MISSION ST,MOUNT VERNON AVE,"[37.7146065, -122.4426697]","MISSION ST, MOUNT VERNON AVE"
15,MISSION ST,30TH ST,"[37.7423869, -122.4219821]","MISSION ST, 30TH ST"
16,MISSION ST,MAIN ST,"[37.7920346, -122.3948809]","MISSION ST, MAIN ST"
17,MISSION ST,TRUMBULL ST,"[37.7308496, -122.4291427]","MISSION ST, TRUMBULL ST"
18,MISSION ST,15TH ST,"[37.7666804, -122.4198536]","MISSION ST, 15TH ST"
19,MISSION ST,KINGSTON ST,"[37.7417506, -122.4223917]","MISSION ST, KINGSTON ST"
20,MISSION ST,TINGLEY ST,"[37.7282519, -122.431806]","MISSION ST, TINGLEY ST"
21,MISSION ST,THERESA ST,"[37.7277166, -122.4324038]","MISSION ST, THERESA ST"
22,MISSION ST,PARK ST,"[37.7392503, -122.4239421]","MISSION ST, PARK ST"
23,MISSION ST,OLIVER ST,"[37.7095562, -122.4505193]","MISSION ST, OLIVER ST"
24,MISSION ST,STEUART ST,"[37.7932317, -122.3932047]","MISSION ST, STEUART ST"
25,MISSION ST,HURON AVE,"[37.7083052, -122.4541936]","MISSION ST, HURON AVE"
26,MISSION ST,SYCAMORE ST,"[37.7627139, -122.4194705]","MISSION ST, SYCAMORE ST"
27,MISSION ST,02ND ST,"[37.7392503, -122.4239421]","MISSION ST, 02ND ST"
28,MISSION ST,MINT ST,"[37.7822117, -122.4071655]","MISSION ST, MINT ST"
29,MISSION ST,GENEVA AVE,"[37.7164074, -122.4410866]","MISSION ST, GENEVA AVE"
...,...,...,...,...
89,MISSION ST,07TH ST,"[37.776764, -122.4143623]","MISSION ST, 07TH ST"
90,MISSION ST,NORTON ST,"[37.7245926, -122.4349007]","MISSION ST, NORTON ST"
91,MISSION ST,RUTH ST,"[37.7230498, -122.4360681]","MISSION ST, RUTH ST"
92,MISSION ST,BRAZIL AVE,"[37.7246879, -122.4348243]","MISSION ST, BRAZIL AVE"
93,MISSION ST,GUTTENBERG ST,"[37.7127826, -122.4446016]","MISSION ST, GUTTENBERG ST"
94,MISSION ST,23RD ST,"[37.7538455, -122.4186194]","MISSION ST, 23RD ST"
95,MISSION ST,RANDALL ST,"[37.7398547, -122.4236196]","MISSION ST, RANDALL ST"
96,MISSION ST,PERSIA AVE,"[37.7231529, -122.4360018]","MISSION ST, PERSIA AVE"
97,MISSION ST,16TH ST,"[37.7650566, -122.419698]","MISSION ST, 16TH ST"
98,MISSION ST,YERBA BUENA LN,"[37.7851382, -122.4035058]","MISSION ST, YERBA BUENA LN"
99,MISSION ST,LAURA ST,"[37.709688, -122.4501243]","MISSION ST, LAURA ST"
100,MISSION ST,18TH ST,"[37.7618426, -122.4193887]","MISSION ST, 18TH ST"
101,MISSION ST,LEO ST,"[37.7224637, -122.4365095]","MISSION ST, LEO ST"
102,MISSION ST,POWERS AVE,"[37.7461855, -122.4195241]","MISSION ST, POWERS AVE"
103,MISSION ST,SANTA ROSA AVE,"[37.7257734, -122.4340038]","MISSION ST, SANTA ROSA AVE"
104,MISSION ST,FLORENTINE AVE,"[37.7133857, -122.4439655]","MISSION ST, FLORENTINE AVE"
105,MISSION ST,FOOTE AVE,"[37.7126339, -122.44477]","MISSION ST, FOOTE AVE"
106,MISSION ST,BOSWORTH ST,"[37.7336846, -122.426396]","MISSION ST, BOSWORTH ST"
107,MISSION ST,EXCELSIOR AVE,"[37.7262585, -122.4336436]","MISSION ST, EXCELSIOR AVE"
108,MISSION ST,WASHBURN ST,"[37.7759, -122.4151529]","MISSION ST, WASHBURN ST"
109,MISSION ST,MORSE ST,"[37.7104244, -122.4483197]","MISSION ST, MORSE ST"
110,MISSION ST,ANGELOS ALY,"[37.7392503, -122.4239421]","MISSION ST, ANGELOS ALY"
111,MISSION ST,BROOK ST,"[37.7406489, -122.4231052]","MISSION ST, BROOK ST"
112,MISSION ST,09TH ST,"[37.7762211, -122.4147406]","MISSION ST, 09TH ST"
113,MISSION ST,OTTAWA AVE,"[37.7152736, -122.4458321]","MISSION ST, OTTAWA AVE"
114,MISSION ST,NIAGARA AVE,"[37.7155866, -122.4417275]","MISSION ST, NIAGARA AVE"
115,MISSION ST,ACTON ST,"[37.7087851, -122.4527694]","MISSION ST, ACTON ST"
116,MISSION ST,05TH ST,"[37.7424463, -122.4221957]","MISSION ST, 05TH ST"
117,MISSION ST,24TH ST,"[37.7522458, -122.4184622]","MISSION ST, 24TH ST"
118,MISSION ST,GRACE ST,"[37.7756099, -122.4155178]","MISSION ST, GRACE ST"

In [0]:
m = folium.Map([37.773972, -122.431297], zoom_start=11) #lat and longtitude of San Francisco
for index, row in df_stops.iterrows():
  folium.Marker(row['lat_lon'],popup=row['address']).add_to(m)

In [0]:
my_map = folium.Map([37.773972, -122.431297], zoom_start=11) #lat and longtitude of San Francisco

for index, row in df_addresses.iterrows():
  folium.Marker(row['lat_lon']).add_to(my_map)

my_map.save(outfile='map_1.html')

## IDENTIFY THE BUS STOPS

In [20]:
!pip3 install geopy
!pip3 install shapely
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.49)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (1.6.4.post2)

In [21]:
df_addresses[['lat','lon']] = pd.DataFrame(df_addresses.lat_lon.values.tolist())

coords = df_addresses.as_matrix(columns=['lat', 'lon'])
coords

array([[  37.7274747, -122.4273257],
       [  37.7042048, -122.4158777],
       [  37.7679315, -122.4151808],
       ...,
       [  37.730796 , -122.41718  ],
       [  37.7123188, -122.4296911],
       [  37.762178 , -122.4140546]])

## FIND THE CLUSTERS
DBSCAN

Algorithm: ball tree

metric: haversen

(remember to conver lat, long to radians!)

In [0]:
kms_per_radian = 6371.0088
def find_clusters(coordinates,e):
  epsilon = e / kms_per_radian
  db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coordinates))
  cluster_labels = db.labels_
  num_clusters = len(set(cluster_labels))
  clusters = pd.Series([coordinates[cluster_labels == n] for n in range(num_clusters)])
  print('Number of clusters: {}'.format(num_clusters))
  return clusters,num_clusters

## Choose different values for epsilon (distance between points in cluster) and check the number of clusters generate as well as the size of the clusters

In [23]:
eps = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]
for e in eps:
  print("Distance :"+str(e))
  clusters,num_clusters = find_clusters(coords,e)
  num_of_employees = []
  for i in range(num_clusters):
    num_of_employees.append(len(clusters[i]))
  print(num_of_employees)
  print()

Distance :0.1
Number of clusters: 77
[358, 93, 201, 117, 3, 87, 28, 101, 143, 115, 69, 78, 74, 121, 95, 39, 103, 1, 7, 56, 4, 20, 13, 10, 7, 3, 3, 104, 26, 2, 4, 4, 3, 11, 4, 10, 3, 3, 1, 7, 1, 1, 1, 4, 1, 1, 5, 3, 1, 3, 1, 1, 2, 3, 4, 1, 3, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1]

Distance :0.2
Number of clusters: 27
[360, 93, 500, 152, 107, 90, 119, 69, 74, 186, 100, 40, 103, 30, 42, 3, 108, 1, 3, 3, 1, 1, 1, 1, 2, 1, 1]

Distance :0.3
Number of clusters: 19
[512, 93, 500, 108, 91, 120, 69, 182, 188, 103, 40, 103, 30, 45, 3, 1, 1, 1, 1]

Distance :0.4
Number of clusters: 16
[581, 93, 591, 296, 120, 182, 103, 40, 103, 30, 45, 3, 1, 1, 1, 1]

Distance :0.5
Number of clusters: 14
[877, 196, 591, 120, 182, 40, 103, 30, 45, 3, 1, 1, 1, 1]

Distance :0.6
Number of clusters: 13
[877, 196, 591, 120, 182, 43, 103, 30, 45, 1, 1, 1, 1]

Distance :0.7
Number of clusters: 12
[980, 196, 591, 120, 182, 43, 30, 45, 1, 1, 1, 1]

Distance :0.8
Number of clusters: 9
[1010, 196, 592, 120, 183, 43, 45, 1, 1]

Distance :0.9
Number of clusters: 8
[1010, 196, 592, 121, 183, 43, 45, 1]

Distance :1
Number of clusters: 7
[1131, 196, 592, 183, 43, 45, 1]

## Find the coordinates of the centroids of the cluster and find the nearest point to the centroid (centermost point)

In [0]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)

## Calculate the distance from the bus stop to the centermost point and find the bus stop

-Use groupby to try to reach as many of the clusters as possible

-Sort the dataframe by the distance (ascending)

-Choose 3 points that has the smallest bus stop - centroid distance from each cluster group

-df.head(10) --> get 10 points that satisfy the mentioned criteria

In [0]:
def distance_calculate(pointA,pointB):
  return great_circle(pointA,pointB).m

def find_10_stops(centermost_points,df_stops):

  distance = []
  points = []
  address = []
  employees = []

  for i,point in centermost_points.iterrows():
    for index,rows in df_stops.iterrows():
      if point['number_of_employees'] > 100:
        address.append(rows['address'])
        points.append(i)
        distance.append(distance_calculate(point['point'],tuple(rows['lat_lon'])))
        employees.append(point['number_of_employees'])
        
  df = pd.DataFrame(list(zip(distance,points,address,employees)),columns=['distance','points','Bus_stop','employees'])
  #df = df.loc[df['distance']<=2000]
  sorted_df = df.sort_values(by="distance")
  grouped_df = sorted_df.groupby('employees').head(3)
  return grouped_df.head(10)

In [37]:
for e in eps:
  print("Distance between clusters km: "+str(e))
  clusters,num_clusters = find_clusters(coords,e)
  centermost_points = pd.DataFrame(clusters.map(get_centermost_point),columns=['point'])
  centermost_points['number_of_employees'] = clusters.map(len)
  df = find_10_stops(centermost_points,df_stops)
  print(df)
  print("Number of benefited employees: "+str(sum(df.employees.unique())))
  print("Number of groups of benefited employees: "+str(len(df.employees.unique())))
  print("Average distance: "+str(np.average(df.distance)))
  print()
  print()

Distance between clusters km: 0.1
Number of clusters: 77
       distance  points                 Bus_stop  employees
888  190.036459      16      MISSION ST, 29TH ST        103
841  228.950663      16     MISSION ST, FAIR AVE        103
915  228.950663      16  MISSION ST, VALENCIA ST        103
17   262.429650       0  MISSION ST, TRUMBULL ST        358
83   306.662007       0       MISSION ST, NEY ST        358
62   311.302375       0  MISSION ST, ADMIRAL AVE        358
185  452.600383       2      MISSION ST, 14TH ST        201
125  457.642809       2      MISSION ST, ERIE ST        201
743  460.050570      13   MISSION ST, GENEVA AVE        121
802  465.375785      13     MISSION ST, ROLPH ST        121
Number of benefited employees: 783
Number of groups of benefited employees: 4
Average distance: 336.4001365225341


Distance between clusters km: 0.2
Number of clusters: 27
       distance  points                  Bus_stop  employees
769  190.036459      12       MISSION ST, 29TH ST        103
722  228.950663      12      MISSION ST, FAIR AVE        103
796  228.950663      12   MISSION ST, VALENCIA ST        103
17   262.429650       0   MISSION ST, TRUMBULL ST        360
185  278.821742       2       MISSION ST, 14TH ST        500
137  280.179380       2       MISSION ST, 15TH ST        500
83   306.662007       0        MISSION ST, NEY ST        360
62   311.302375       0   MISSION ST, ADMIRAL AVE        360
125  316.188212       2       MISSION ST, ERIE ST        500
427  353.605366       4  MISSION ST, LAWRENCE AVE        107
Number of benefited employees: 1070
Number of groups of benefited employees: 4
Average distance: 275.7126517769817


Distance between clusters km: 0.3
Number of clusters: 19
       distance  points                  Bus_stop  employees
17    68.031562       0   MISSION ST, TRUMBULL ST        512
888  190.036459      11       MISSION ST, 29TH ST        103
83   193.819644       0        MISSION ST, NEY ST        512
62   212.020213       0   MISSION ST, ADMIRAL AVE        512
841  228.950663      11      MISSION ST, FAIR AVE        103
915  228.950663      11   MISSION ST, VALENCIA ST        103
185  278.821742       2       MISSION ST, 14TH ST        500
137  280.179380       2       MISSION ST, 15TH ST        500
125  316.188212       2       MISSION ST, ERIE ST        500
308  353.605366       3  MISSION ST, LAWRENCE AVE        108
Number of benefited employees: 1223
Number of groups of benefited employees: 4
Average distance: 235.06039035454924


Distance between clusters km: 0.4
Number of clusters: 16
       distance  points                 Bus_stop  employees
17    91.820731       0  MISSION ST, TRUMBULL ST        581
83   136.698765       0       MISSION ST, NEY ST        581
62   155.148971       0  MISSION ST, ADMIRAL AVE        581
769  190.036459       8      MISSION ST, 29TH ST        103
722  228.950663       8     MISSION ST, FAIR AVE        103
796  228.950663       8  MISSION ST, VALENCIA ST        103
124  262.553539       2      MISSION ST, 13TH ST        591
125  268.243532       2      MISSION ST, ERIE ST        591
185  288.569728       2      MISSION ST, 14TH ST        591
305  332.514403       3   MISSION ST, CONCORD ST        296
Number of benefited employees: 1571
Number of groups of benefited employees: 4
Average distance: 218.3487453946735


Distance between clusters km: 0.5
Number of clusters: 14
        distance  points                    Bus_stop  employees
650   190.036459       6         MISSION ST, 29TH ST        103
107   226.989768       0   MISSION ST, EXCELSIOR AVE        877
677   228.950663       6     MISSION ST, VALENCIA ST        103
603   228.950663       6        MISSION ST, FAIR AVE        103
103   229.268922       0  MISSION ST, SANTA ROSA AVE        877
80    255.397908       0   MISSION ST, HARRINGTON ST        877
243   262.553539       2         MISSION ST, 13TH ST        591
244   268.243532       2         MISSION ST, ERIE ST        591
304   288.569728       2         MISSION ST, 14TH ST        591
404  1900.417804       3       MISSION ST, GODEUS ST        120
Number of benefited employees: 1691
Number of groups of benefited employees: 4
Average distance: 407.9378985754585


Distance between clusters km: 0.6
Number of clusters: 13
        distance  points                    Bus_stop  employees
650   190.036459       6         MISSION ST, 29TH ST        103
107   226.989768       0   MISSION ST, EXCELSIOR AVE        877
677   228.950663       6     MISSION ST, VALENCIA ST        103
603   228.950663       6        MISSION ST, FAIR AVE        103
103   229.268922       0  MISSION ST, SANTA ROSA AVE        877
80    255.397908       0   MISSION ST, HARRINGTON ST        877
243   262.553539       2         MISSION ST, 13TH ST        591
244   268.243532       2         MISSION ST, ERIE ST        591
304   288.569728       2         MISSION ST, 14TH ST        591
404  1900.417804       3       MISSION ST, GODEUS ST        120
Number of benefited employees: 1691
Number of groups of benefited employees: 4
Average distance: 407.9378985754585


Distance between clusters km: 0.7
Number of clusters: 12
        distance  points                  Bus_stop  employees
39    144.686373       0     MISSION ST, COTTER ST        980
74    158.280669       0    MISSION ST, AVALON AVE        980
21    161.553654       0    MISSION ST, THERESA ST        980
243   262.553539       2       MISSION ST, 13TH ST        591
244   268.243532       2       MISSION ST, ERIE ST        591
304   288.569728       2       MISSION ST, 14TH ST        591
404  1900.417804       3     MISSION ST, GODEUS ST        120
372  1900.719765       3       MISSION ST, 30TH ST        120
395  1901.182356       3  MISSION ST, VIRGINIA AVE        120
220  2608.070436       1        MISSION ST, LEO ST        196
Number of benefited employees: 1887
Number of groups of benefited employees: 4
Average distance: 959.4277855332009


Distance between clusters km: 0.8
Number of clusters: 9
        distance  points                  Bus_stop  employees
39    104.620049       0     MISSION ST, COTTER ST       1010
74    129.045970       0    MISSION ST, AVALON AVE       1010
21    134.053120       0    MISSION ST, THERESA ST       1010
243   262.553539       2       MISSION ST, 13TH ST        592
244   268.243532       2       MISSION ST, ERIE ST        592
304   288.569728       2       MISSION ST, 14TH ST        592
404  1900.417804       3     MISSION ST, GODEUS ST        120
372  1900.719765       3       MISSION ST, 30TH ST        120
395  1901.182356       3  MISSION ST, VIRGINIA AVE        120
220  2608.070436       1        MISSION ST, LEO ST        196
Number of benefited employees: 1918
Number of groups of benefited employees: 4
Average distance: 949.7476299219372


Distance between clusters km: 0.9
Number of clusters: 8
        distance  points                  Bus_stop  employees
39    104.620049       0     MISSION ST, COTTER ST       1010
74    129.045970       0    MISSION ST, AVALON AVE       1010
21    134.053120       0    MISSION ST, THERESA ST       1010
243   262.553539       2       MISSION ST, 13TH ST        592
244   268.243532       2       MISSION ST, ERIE ST        592
304   288.569728       2       MISSION ST, 14TH ST        592
404  1900.417804       3     MISSION ST, GODEUS ST        121
372  1900.719765       3       MISSION ST, 30TH ST        121
395  1901.182356       3  MISSION ST, VIRGINIA AVE        121
220  2608.070436       1        MISSION ST, LEO ST        196
Number of benefited employees: 1919
Number of groups of benefited employees: 4
Average distance: 949.7476299219372


Distance between clusters km: 1
Number of clusters: 7
        distance  points                      Bus_stop  employees
243   262.553539       2           MISSION ST, 13TH ST        592
244   268.243532       2           MISSION ST, ERIE ST        592
13    277.948606       0        MISSION ST, SILVER AVE       1131
35    279.328112       0  MISSION ST, CASTLE MANOR AVE       1131
304   288.569728       2           MISSION ST, 14TH ST        592
20    293.210525       0        MISSION ST, TINGLEY ST       1131
220  2608.070436       1            MISSION ST, LEO ST        196
175  2608.894015       1        MISSION ST, RUSSIA AVE        196
210  2610.399391       1           MISSION ST, RUTH ST        196
441  3068.197218       3           MISSION ST, 12TH ST        183
Number of benefited employees: 2102
Number of groups of benefited employees: 4
Average distance: 1256.541510317365

**Solution**

In [39]:
clusters,num_clusters = find_clusters(coords,0.9)
centermost_points = pd.DataFrame(clusters.map(get_centermost_point),columns=['point'])
centermost_points['number_of_employees'] = clusters.map(len)
df = find_10_stops(centermost_points,df_stops).reset_index()
print("Number of benefited employees: "+str(sum(df.employees.unique())))
print("Number of groups of benefited employees: "+str(len(df.employees.unique())))
print("Average distance: "+str(np.average(df.distance)))
df

Number of clusters: 8
Number of benefited employees: 1919
Number of groups of benefited employees: 4
Average distance: 949.7476299219372

   index     distance  points                  Bus_stop  employees
0     39   104.620049       0     MISSION ST, COTTER ST       1010
1     74   129.045970       0    MISSION ST, AVALON AVE       1010
2     21   134.053120       0    MISSION ST, THERESA ST       1010
3    243   262.553539       2       MISSION ST, 13TH ST        592
4    244   268.243532       2       MISSION ST, ERIE ST        592
5    304   288.569728       2       MISSION ST, 14TH ST        592
6    404  1900.417804       3     MISSION ST, GODEUS ST        121
7    372  1900.719765       3       MISSION ST, 30TH ST        121
8    395  1901.182356       3  MISSION ST, VIRGINIA AVE        121
9    220  2608.070436       1        MISSION ST, LEO ST        196

**	**
### *The chosen bus stops are: COTTER ST, AVALON AVE,THERESA ST, 13TH ST, ERIE ST, 14TH ST, GODEUS ST, 30TH ST, VIRGINIA AVE, LEO ST*

fatal: not in a git directory
fatal: not in a git directory